$primary: #222;
$focusColor: #444;
$disableColor: #888;

.tab-v1 {

  &__navigation {
    &-select-wrap {

    }

    &-select {
      appearance: none;
      margin-top: 6px;
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid $primary;
      border-radius: 4px;

      &:focus-visible {
        outline: 2px solid $focusColor;
      }

      &-wrap {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 20px;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.70994 5.20994L4.99994 2.90994L7.28994 5.20994C7.3829 5.30367 7.49351 5.37806 7.61536 5.42883C7.73722 5.4796 7.86793 5.50574 7.99994 5.50574C8.13195 5.50574 8.26266 5.4796 8.38452 5.42883C8.50638 5.37806 8.61698 5.30367 8.70994 5.20994C8.80367 5.11698 8.87806 5.00638 8.92883 4.88452C8.9796 4.76266 9.00574 4.63195 9.00574 4.49994C9.00574 4.36793 8.9796 4.23722 8.92883 4.11536C8.87806 3.9935 8.80367 3.8829 8.70994 3.78994L5.70994 0.789939C5.61698 0.69621 5.50638 0.621816 5.38452 0.571048C5.26266 0.520279 5.13195 0.494141 4.99994 0.494141C4.86793 0.494141 4.73722 0.520279 4.61536 0.571048C4.49351 0.621816 4.3829 0.69621 4.28994 0.789939L1.28994 3.78994C1.10164 3.97824 0.99585 4.23364 0.99585 4.49994C0.99585 4.76624 1.10164 5.02164 1.28994 5.20994C1.47825 5.39824 1.73364 5.50403 1.99994 5.50403C2.26624 5.50403 2.52164 5.39824 2.70994 5.20994ZM7.28994 9.78994L4.99994 12.0899L2.70994 9.78994C2.6167 9.6967 2.50601 9.62274 2.38419 9.57228C2.26237 9.52182 2.1318 9.49585 1.99994 9.49585C1.86808 9.49585 1.73751 9.52182 1.61569 9.57228C1.49387 9.62274 1.38318 9.6967 1.28994 9.78994C1.1967 9.88318 1.12274 9.99387 1.07228 10.1157C1.02182 10.2375 0.99585 10.3681 0.99585 10.4999C0.99585 10.6318 1.02182 10.7624 1.07228 10.8842C1.12274 11.006 1.1967 11.1167 1.28994 11.2099L4.28994 14.2099C4.3829 14.3037 4.49351 14.3781 4.61536 14.4288C4.73722 14.4796 4.86793 14.5057 4.99994 14.5057C5.13195 14.5057 5.26266 14.4796 5.38452 14.4288C5.50638 14.3781 5.61698 14.3037 5.70994 14.2099L8.70994 11.2099C8.89825 11.0216 9.00403 10.7662 9.00403 10.4999C9.00403 10.2336 8.89825 9.97824 8.70994 9.78994C8.52164 9.60164 8.26624 9.49585 7.99994 9.49585C7.73364 9.49585 7.47825 9.60164 7.28994 9.78994V9.78994Z' fill='%23222222'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          bottom: 8px;
          right: 10px;
        }
      }

      &-label {
        display: block;
      }
    }

    &-button {
      display: none;
    }
  }

  &__content {
    display: none;

    &--visible {
      display: block;
    }

    &-wrap {
      margin-top: 20px;
    }
  }
}