*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

input[type="checkbox"],
a,
button,
label,
img {
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
  }
}