.v-container {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $media-tablet-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $media-tablet-lg) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $media-desktop-sm) {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
}

.v-col-12 {
  width: 100%;
}

.v-col-6 {
  width: 100%;

  @media (min-width: $media-tablet-lg ) {
    width: 50%;
  }
}