.open-modal-video {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px auto;
  grid-column-gap: 10px;

  @media (min-width: $media-tablet-md) {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 80px auto;
    grid-column-gap: 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B132A;
    border: 0;
    border-radius: 4px;
    padding: 0;
    transition: background-color .2s ease-in-out;

    &:hover {
      @media (min-width: $media-desktop-sm) {
        background-color: rgba(#0B132A, .8);
      }
    }

    &:focus {
      @media (min-width: $media-desktop-sm) {
        outline: 4px solid #ACACC1;
      }
    }

    &-icon {
      height: 40px;
      width: 40px;
    }
  }

  &__content {
    width: 100%;
    max-width: 300px;
    align-self: center;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 0;

    @media (min-width: $media-tablet-md) {
      font-size: 1.6rem;
    }
  }

  &__tip {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    color: #6D6D78;
    margin-top: 8px;
    margin-bottom: 0;

    @media (min-width: $media-tablet-md) {
      font-size: 1.4rem;
      margin-top: 4px;
    }
  }
}