@import "../../../global/style/style";

$link-color: #212832;
$link-hover-color: #1ea7fd;
$media-tablet-md: 768px;
$media-tablet-lg: 1024px;
$media-desktop-sm: 1280px;
$media-desktop-md: 1440px;
$media-desktop-lg: 1920px;



.header-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  background-color: #fff;
  box-shadow: 0 1px 26px rgba($link-color, .1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;

  &__logo {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    &-link {
      display: block;
      width: 100px;
      height: 34px;

      &:focus {
        outline: 1px dashed $link-hover-color;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    padding-top: 100px;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    transition: opacity .2s ease-in-out;

    @media (min-width: $media-desktop-sm ) {
      opacity: 1;
      pointer-events: auto;
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 0;
      height: auto;
      overflow-y: initial;
    }

    .header-1--open & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__list {

    &-links {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      flex-direction: column;

      @media (min-width: $media-desktop-sm ) {
        flex-direction: row;
      }
    }

    &-item {
      text-align: center;
      position: relative;

      & + & {
        margin-top: 30px;

        @media (min-width: $media-desktop-sm ) {
          margin-left: 64px;
          margin-top: 0;
        }
      }

      &--has-submenu {

        &:hover .header-1__sublist {
          @media (min-width: $media-desktop-sm) {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
          }
        }

        &:hover {
          & > .header-1__link {
            @media (min-width: $media-desktop-sm) {
              color: $link-hover-color;
            }
          }

          .header-1__link-dropdown-arrow {
            @media (min-width: $media-desktop-sm) {
              transform: rotateX(180deg);
            }
          }

          .header-1__link-dropdown-arrow path {
            @media (min-width: $media-desktop-sm) {
              stroke: $link-hover-color;
            }
          }
        }
      }
    }
  }

  &__sublist {
    padding: 0;
    list-style: none;
    text-align: left;
    overflow: hidden;
    height: 0;

    @media (min-width: $media-desktop-sm) {
      position: absolute;
      top: calc(100% + 10px);
      left: -16px;
      height: auto;
      width: 210px;
      background: #FFFFFF;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 16px;
      transform: translateY(10px);
      opacity: 0;
      pointer-events: none;
      transition: transform .2s ease-in-out;
    }

    &-item {
      margin-top: 20px;

      @media (min-width: $media-desktop-sm) {
        margin-top: 0;
      }

      & + & {
        @media (min-width: $media-desktop-sm) {
          margin-top: 20px;
        }
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
    text-decoration: none;
    color: $link-color;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    @media (min-width: $media-tablet-md ) {
      font-size: 2.4rem;
    }

    @media (min-width: $media-desktop-sm ) {
      font-size: 1.6rem;
    }

    &--current {
      color: $link-hover-color;

      .header-1__link-dropdown-arrow path {
        stroke: $link-hover-color;
      }
    }

    @media (min-width: $media-desktop-sm ) {
      &:hover {
        color: $link-hover-color;

        .header-1__link-dropdown-arrow path {
          stroke: $link-hover-color;
        }
      }

      &:focus {
        outline: 1px dashed $link-hover-color;
      }
    }

    &--has-submenu {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: $media-desktop-sm) {
        padding-bottom: 20px;
        margin-bottom: -20px;
      }

      &:focus + .header-1__sublist {
        @media (min-width: $media-desktop-sm) {
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &-dropdown-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-left: 10px;
      transition: transform .5s ease-in-out;

      @media (min-width: $media-desktop-sm) {
        transition: transform .2s ease-in-out;
      }

      &-icon {
        display: block;
        width: 13px;
        height: 8px;

        path {
          stroke: $link-color;
          transition: stroke .2s ease-in-out;
        }
      }

      &--open {
        transform: rotateX(180deg);
      }
    }
  }

  &__button {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-top: 30px;

    @media (min-width: $media-desktop-sm ) {
      margin-left: 60px;
      margin-top: 0;
      font-size: 2.4rem;
    }
  }

  &__lang-switcher {
    margin-top: 75px;
    margin-bottom: 20px;

    @media (min-width: $media-desktop-sm ) {
      margin-left: 40px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .lang-switcher-1__current {
      display: none;

      @media (min-width: $media-desktop-sm ) {
        display: flex;
      }
    }

    .lang-switcher-1__list {
      position: static;
      opacity: 1;
      pointer-events: auto;
      box-shadow: none;
      flex-direction: row;
      transform: translateY(0);

      @media (min-width: $media-desktop-sm ) {
        flex-direction: column;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
      }
    }

    .lang-switcher-1__list--active {
      @media (min-width: $media-desktop-sm ) {
        pointer-events: initial;
        transform: translateY(10px);
        opacity: 1;
      }
    }

    .lang-switcher-1__link--current {
      display: block;
      color: $link-hover-color;

      @media (min-width: $media-desktop-sm ) {
        display: none;
      }
    }

    .lang-switcher-1__list-item + .lang-switcher-1__list-item {
      margin-left: 25px;

      @media (min-width: $media-desktop-sm ) {
        margin-left: 0;
      }
    }
  }

  &__hamburger {
    @media (min-width: $media-desktop-sm ) {
      display: none;
    }
  }
}