.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 700;
  border: 1px solid #1ea7fd;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  padding: 4px 24px;
  color: white;
  background-color: #1ea7fd;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    background-color: white;
    color: #1ea7fd;
  }
}