@import "../../global/style/style";

$blue: #1ea7fd;
$blue-hover: #0495f3;
$blue-active: #0091e7;
$blue-focus: #98d3ff;
$secondary-color: #ffffff;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: auto;
  font-weight: 700;
  cursor: pointer;
  line-height: 1;
  padding: 4px 24px;
  text-transform: uppercase;

  &[disable] {
    opacity: .5;
    pointer-events: none;
    outline: none;
  }
}

.default-button {
  color: #fff;
  background-color: $blue;
  border: 0;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    outline: 3px solid $blue-focus;
  }

  &:active {
    background-color: $blue-active;
  }
}

.default-outline-button {
  color: #fff;
  background-color: $blue;
  border: 1px solid $blue;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $blue;
  }

  &:focus {
    outline: 3px solid $blue-focus;
  }

  &:active {
    border-color: $blue-active;
    color: $blue-active;
  }
}