$link-color: #212832;
$link-hover-color: #1ea7fd;

.hero-1 {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    text-align: center;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
  }

  &__img {

    &--mobile {
      margin-top: 28px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    &--desktop {
      display: none;
    }
  }

  &__button {
    margin-top: 48px;
    width: 100%;
  }

}