@import "../../../global/style/style";

$link-color: #212832;
$link-hover-color: #1ea7fd;
$media-tablet-md: 768px;
$media-tablet-lg: 1024px;
$media-desktop-sm: 1280px;
$media-desktop-md: 1440px;
$media-desktop-lg: 1920px;


.hero-1 {



}