.review-card-1 {
  background-color: #FBFCFF;
  box-shadow: 0 4px 8px rgba(77, 119, 163, 0.12);
  padding: 16px;
  text-align: left;

  @media (min-width: $media-tablet-md) {
    padding: 28px 62px 62px;
  }

  @media (min-width: $media-tablet-md) {
    padding: 28px 52px 52px;
  }

  &__author {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;
    margin-bottom: 6px;

    @media (min-width: $media-tablet-md) {
      font-size: 1.6rem;
      margin-bottom: 12px;
    }

    @media (min-width: $media-desktop-md) {
      font-size: 2rem;
    }
  }

  &__info {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &__star {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.3655 4.51714L9.3983 3.94058L7.62486 0.345269C7.57642 0.246832 7.49673 0.167144 7.3983 0.118707C7.15142 -0.00316804 6.85142 0.0983945 6.72798 0.345269L4.95455 3.94058L0.987358 4.51714C0.877983 4.53277 0.777983 4.58433 0.701421 4.66246C0.608861 4.75759 0.557856 4.88558 0.559614 5.0183C0.561372 5.15102 0.615749 5.27762 0.710796 5.37027L3.58111 8.16871L2.90298 12.1203C2.88708 12.2122 2.89725 12.3067 2.93235 12.3932C2.96744 12.4796 3.02605 12.5545 3.10153 12.6093C3.17701 12.6641 3.26634 12.6967 3.35939 12.7033C3.45244 12.71 3.54549 12.6904 3.62798 12.6468L7.17642 10.7812L10.7249 12.6468C10.8217 12.6984 10.9342 12.7156 11.042 12.6968C11.3139 12.65 11.4967 12.3921 11.4499 12.1203L10.7717 8.16871L13.642 5.37027C13.7202 5.29371 13.7717 5.19371 13.7874 5.08433C13.8295 4.81089 13.6389 4.55777 13.3655 4.51714V4.51714Z' fill='%2300AE71'/%3e%3c/svg%3e");
    background-size: contain;
    background-repeat: no-repeat;

    & + & {
      margin-left: 8px;
    }
  }

  &__date {
    font-size: 1rem;
    line-height: 100%;
    margin-left: 12px;

    @media (min-width: $media-tablet-md) {
      font-size: 1.2rem;
    }

    @media (min-width: $media-desktop-md) {
      font-size: 1.4rem;
    }
  }

  &__text {
    margin-top: 14px;
    font-size: 1.2rem;
    line-height: 140%;

    @media (min-width: $media-tablet-md) {
      font-size: 1.4rem;
      margin-top: 22px;
    }

    @media (min-width: $media-desktop-md) {
      font-size: 1.6rem;
      margin-top: 26px;
    }
  }
}