.hero-1 {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $media-tablet-lg ) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }

  &__title {
    text-align: center;

    @media (min-width: $media-tablet-lg ) {
      text-align: left;
      line-height: 1.2;
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    
    @media (min-width: $media-tablet-md ) {
      font-size: 1.8rem;
    }

    @media (min-width: $media-tablet-lg ) {
      text-align: left;
    }
  }

  &__content {
    text-align: center;

    @media (min-width: $media-tablet-lg ) {
      text-align: left;
      align-self: center;
    }
  }

  &__img {

    &--mobile {
      display: block;
      margin-top: 28px;
      width: 100%;
      height: auto;
      object-fit: contain;

      @media (min-width: $media-tablet-lg ) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $media-tablet-lg ) {
        display: block;
      }
    }
  }

  &__button {
    margin-top: 48px;
    width: 100%;

    @media (min-width: $media-tablet-md ) {
      width: auto;
      padding: 22px 100px;
    }

    @media (min-width: $media-tablet-lg ) {
      padding: 22px 100px;
    }
  }
}